{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default title in here{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- component -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
</head>
<body>


<div class="min-h-screen flex flex-row bg-gray-100">
  <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
    <div class="flex items-center justify-center h-20 shadow-md">
      <h1 class="text-3xl uppercase text-indigo-500">TIL</h1>
    </div>
    <ul class="flex flex-col py-4">
      <li>
        <a href="/" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
          <span class="text-sm font-medium">Home</span>
        </a>
      </li>

        {% if request.user.is_authenticated %}
       <li>
        {% comment %} <a href="{% url 'feed:new_post' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"> {% endcomment %}
        <button class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 js-toggle-modal" >
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bxs-layer-plus'></i></span>
          <span class="text-sm font-medium">New Post</span>
        </button>
      </li>
      <li>
        <a href="{% url 'account_logout' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-out"></i></span>
          <span class="text-sm font-medium">Logout</span>
        </a>
      </li>
      {% else %}
        <li>
        <a href="{% url 'account_login' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-in"></i></span>
          <span class="text-sm font-medium">Login</span>
        </a>
      </li>
        {% endif %}
    </ul>
  </div>
  <div class="p-16">
    {% block body %}
      {% block content %}{% endblock %}
    {% endblock %} 
  </div>
  
</div>


{% if request.user.is_authenticated %}
  <!-- component -->
  <!-- MODAL CODE START -->

<!-- Modal -->
<div class="fixed inset-0 z-50 hidden items-center justify-center bg-gray bg-opacity-75 backdrop-blur-sm js-modal">
  <div class="bg-white p-6 rounded-lg shadow-md w-96 relative">

    <!-- X Button -->
    <button id="closeModalX" class="absolute top-2 right-2 text-gray-600 hover:text-red-500 text-xl font-bold js-close-modal">
      &times;
    </button>

    <h2 class="text-xl font-semibold mb-4">New Post</h2>
    <div class="w-full">
      <textarea class="border-2 border-blue-500 my-4 w-full js-post-text" placeholder="Enter your post" rows="3" maxlength="240" data-post-url="{% url 'feed:new_post' %}"></textarea>
    </div>
    <div class="flex justify-end gap-2">
      <button class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 js-submit">Create Post <i class='bx bxs-send'></i></button>
    </div>
  </div>
</div>

  <!-- MODAL CODE END -->
{% endif %}























    {% comment %} This is from base.html <br/>
    {% block body %}
    {% endblock %} {% endcomment %}

    {% comment %} <a href='/'>Home</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'account_login' %}">Login</a>
    {% endif %}
    <hr>
    {% block body %}
       {% block content %}{% endblock %}
    {% endblock %} {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>